.heroSection {
  color: #fff;
  padding-top: 0px;
  height: 100vh;
  width:100%;
  
}


.hero_rowDirection {
  align-items: center;
  box-sizing: border-box;
  margin: 20px;
  height: 100%;
}

.row {
  display: flex;
  margin-right: 40%;
  margin-left: 10%;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.hero_contentWrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
  align-items: center;
  text-align: center;
}

.topLine {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
  text-align: center;
}

.hero_dark{
  color: #1c2237;
  
}



.hero_subtitel {
  max-width: 440px;
  margin-bottom: 35px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 24px;
}


.hero_imgWrapper {
  max-width: 555px;
}

.hero_img {
  max-width: 60vw;
  margin-top: 50px;
  margin-right: 0;
  margin-left: 10px;
  margin-bottom: auto;
  padding-right: 0;
}

img {
  border: 0;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero_contentWrapper {
    padding-bottom: 65px;
    
  }

  .colom {
    max-width: 100%;
    flex-basis: 100%;
  }
}