.heroSection {
  color: #fff;
  padding-top: 160px;
  background-image : url("https://miro.medium.com/max/10940/0*Z_ijV1Wc2SvCi-OS");
  height: 100vh;
  background-repeat : no-repeat;
  background-size : cover; 
}

.darkBg {
  background-color: #1c2237;
}

.darkHeroSection{
  color: #fff;
  padding-top: 160px;
  background : url("https://miro.medium.com/max/10940/0*Z_ijV1Wc2SvCi-OS");
  height: 100%;
  background-repeat : no-repeat;
  background-size : cover; 
}


.hero_rowDirection {
  align-items: center;
  box-sizing: border-box;
  margin: 0;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.colom {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 10%;
  flex: 1;
  /* max-width: 50%;
  flex-basis: 50%; */
}

.hero_contentWrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.topLine {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
  text-align: center;
}

.hero_dark{
  color: #1c2237;
  
}



.hero_subtitel {
  max-width: 440px;
  margin-bottom: 35px;
  margin-left: 40px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}


/* .hero_imgWrapper {
  max-width: 555px;
} */

/* .hero_img {
  max-width: 95vw;
  margin-top: 0;
  margin-right: 0;
  margin-left: 10px;
  padding-right: 0;
} */

/* img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
} */

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .hero_contentWrapper {
    padding-bottom: 65px;
  }

  .colom {
    max-width: 100%;
    flex-basis: 100%;
  }
}